{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">

</head>
<body>
    <div class="form-container">
        <h1>Authorization</h1>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>

            {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for f in form %}
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                {% if f.errors %}
                    <div class="form-error">{{ f.errors }}</div>
                {% endif %}
            {% endfor %}

            <div class="button-group">
                <button type="submit">Log in</button>
                <a href="{% url 'users:register' %}" class="sign-in-link">Sign in</a>
            </div>
        </form>
    </div>
</body>
</html>
