<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<ul>
   <li><a href="{% url 'home' %}">Головна сторінка</a></li>
   {% for m in mainmenu %}
   {%if not forloop.last %}<li>{% else %} <li class="last">{% endif %}
      <a href="{% url m.url_name %}">{{m.title}}</a>
   </li>
   {% endfor %}
    {% if user.is_authenticated %}
    <li class="last"> {{user.username}} | <a href="{%url 'users:logout' %}">Вийти</a></li>
    {% else %}
    <li class="last"> {{user.username}} | <a href="{%url 'users:login' %}">Увійти</a> | <a href="{% url 'users:register' %}">Реєстрація</a></li>
    {% endif %}
</ul>
{% block content %} {% endblock %}



{% block navigation %}
{% endblock %}

</body>
</html>